<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Engima.Civilians" Major="0" Minor="90" Build="40">
      <Files>
        <CPackFile Name="Engima/Civilians/Common/Common.sqf" CheckSum="1B2M2Y8AsgTpgAmY7PhCfg==" />
        <CPackFile Name="Engima/Civilians/Common/Debug.sqf" CheckSum="wgBuWlyyocsktc5CajatfQ==" />
        <CPackFile Name="Engima/Civilians/ConfigAndStart.sqf" CheckSum="4Fwg31Opa0XWLIKvKeaLaw==" />
        <CPackFile Name="Engima/Civilians/Documentation.txt" CheckSum="Kxn9x+VGlv23ZQP6Z2p/Bg==" />
        <CPackFile Name="Engima/Civilians/Init.sqf" CheckSum="bUNq/eMgbSlRz43S62BQQA==" />
        <CPackFile Name="Engima/Civilians/Server/ServerFunctions.sqf" CheckSum="FItFitbcjUh0PHH47OyDnQ==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\Civilians\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
  </CPacks>
</CPackSettings>